[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "==4.9.1"
certifi = "==2020.6.20"
cffi = "==1.14.2"
chardet = "==3.0.4"
clarifai = "==2.6.2"
click = "==7.1.2"
configparser = "==5.0.0"
cryptography = "==3.0"
decorator = "==4.4.2"
emoji = "==0.6.0"
future = "==0.18.2"
googleapis-common-protos = "==1.52.0"
grpcio = "==1.31.0"
gunicorn = "==20.0.4"
idna = "==2.10"
instapy = "==0.6.9"
itsdangerous = "==1.1.0"
jsonschema = "==2.6.0"
plyer = "==1.4.3"
protobuf = "==3.13.0"
pycparser = "==2.20"
python-telegram-bot = "==12.8"
regex = "==2020.7.14"
requests = "==2.24.0"
selenium = "==3.141.0"
six = "==1.15.0"
soupsieve = "==2.0.1"
tornado = "==6.0.4"
tqdm = "==4.48.2"
urllib3 = "==1.25.10"
webdriverdownloader = "==1.1.0.3"
EasyProcess = "==0.3"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
MeaningCloud-python = "==1.2.3"
PyYAML = "==5.3.1"
Werkzeug = "==1.0.1"

[requires]
python_version = "3.8"
